body{
    background-color: rgb(255, 255, 255);
    margin: auto;

}

img{
    position:absolute;
    justify-content: center;
    height:fit-content;
    width: fit-content;
  
}
.img4{
    margin: auto;
    height: 100%;
    width: 100%;
}

.spaceSlogo{
    height: 100px;
    width: 100px;
    left: 90%;
    top: 30px;
    
}

.titles{
    position: absolute;
    top: 5px;
    left: 40px;
    text-align: center;
    color: #ffffff;
    font-size: 520%;
    text-decoration: underline;
    text-decoration-thickness: 5px;
    -webkit-text-stroke: #0e0e0e;
    -webkit-text-stroke-width: 0.9px;
}


.windows{
    position: absolute;
    color: rgb(0, 0, 0);
    background-color: #fffffff0;
    border-color: #0d0d0d;
    border-style:double;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;    
    border-radius: 20px;
    left: 3.4%;
    right: 3.4%;
    font-size: medium;
    top: 190px;
    padding: 10px;
    
}

.fact2{
    position: absolute;
    color: rgb(0, 0, 0);
    background-color: #fffffff0;
    border-color: #0d0d0d;
    border-style:double;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;    
    border-radius: 20px;
    left: 3.4%;
    right: 3.4%;
    font-size: medium;
    top: 100px;
    padding: 10px;
}
.fact3 {
    position: absolute;
    color: rgb(0, 0, 0);
    background-color: #fffffff0;
    border-color: #0d0d0d;
    border-style:double;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;    
    border-radius: 20px;
    left: 3.4%;
    right: 3.4%;
    font-size: medium;
    top: 240px;
    padding: 10px;
}



.navi{

    height: 100px;
    display: flex;
    min-width: 600px;
    align-items: center;
    justify-content: space-around;
    margin:auto;
}
 a{
    position: relative;
    top: 1%;
    text-decoration: none;
    color: #ffffff;
    font-size: 199%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-text-stroke: black;
    -webkit-text-stroke-width: 0.9px;

 }
 a:hover, a:active{
    font-size: 250%;
    text-decoration: underline;
    text-decoration-color: rgb(0, 123, 150);
    text-decoration-thickness: 7px;
 }
 .txt1{
    color: black;
    position: absolute;
    margin: auto;
    bottom: 670px;
    left: 14cm;
    color: #ffffff;
    -webkit-text-stroke: black;
   -webkit-text-stroke-width: 1.1px;
    font-size: 250%;
    
 }
 p{
    position: absolute;
    color: rgb(0, 0, 0);
    background-color: #fffffff0;
    border-color: #0d0d0d;
    border-style:double;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;    
    border-radius: 20px;
    left: 3.4%;
    right: 3.4%;
    font-size: medium;
    top: 190px;
    padding: 10px;
 }


 button{

    background-color: rgba(231, 212, 0, 0.921);
    border-radius: 15%;
    position:absolute;
    height: 30px;
    width: 70px;
   top: 550px;
   left: 1335px;
 }

 .txt2{
    display: none;
 }
 
